@import "../node_modules/bootstrap/scss/bootstrap";
:root {
    --primary-100: #ccdffe;
    --primary-300: #6796fe;
    --primary-500: #0344fd;
    --primary-700: #0126b6;
    --primary-900: var(--primary-900, #001279);
    
    --info-100: var(--Info-100, #DDECFE);
    --info-300: var(--Info-300, #9BBFFB);
    --info-500: var(--Info-500, #5889F4);
    --info-700: var(--Info-700, #2C4DAF);
    --info-900: var(--Info-900, #102375);

    --success-100: var(--Success-100, #F2FDD1);
    --success-300: var(--Success-300, #95ED89);
    --success-500: var(--Success-500, #3AC441);
    --success-700: var(--Success-700, #1D8D36);
    --success-900: var(--Success-900, #1D8D36);

    --warning-100: var(--Warning-100, #FED68E);
    --warning-300: var(--Warning-300, #FFEB7A);
    --warning-500: var(--Warning-500, #FFD623);
    --warning-700: var(--Warning-700, #B79211);
    --warning-900: var(--Warning-900, #7A5B06);

    --danger-100: var(--Danger-100, #FFE5D5);
    --danger-300: var(--Danger-300, #FF9C82);
    --danger-500: var(--Danger-500, #FF3730);
    --danger-700: var(--Danger-700, #B7182D);
    --danger-900: var(--Danger-900, #7A092B);

    --background-pure: var(--Background-Pure, #F6F6F6);
    --background-soft: var(--Background-Soft, #EAF0FF);
    --foreground-text-light: var(--Foreground-Text-Light, #E0E0E0);
    --foreground-text: var(--Foreground-Text, #1E1E1E);
    --foreground-text-placeholder: var(--Foreground-Text-Placeholder, #AEAEAE);
    --foreground-text-soft: var(--Foreground-Text-Soft, #6D6D6D);

}

#page-top {
    font-family: 'Inter', sans-serif;
}

#page-top .user-name-navbar {
    max-width: 20vw;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

#bootstrap-override .image svg {
    width: 12.2rem;
}

#page-top .card .card-body {
    padding: 0.5rem 1rem;
}

#page-top .btn-primary {
    background-color: var(--primary-500);
}
#page-top {
    .btn.btn-primary {
        text-align: center;
        svg {
            width: 1.2rem;
            fill: var(--background-pure);
        };
    };
    .table-responsive {
        svg{
            width: 1.2rem;
            fill: var(--background-pure);
        };
    };
}
 #page-top {
        .tab-menu-button-container {
            align-self: stretch;
            border-radius: 0.8rem;
            background-color: var(--background-soft);
            align-items: flex-start;
            padding: 4px;
            gap: 8px;
            
        } 

        .tab-button-active {
            background-color: var(--primary-500);
            color: white;
            transition: cubic-bezier(0.215, 0.610, 0.355, 1) 0.2s;
        }

        .tab-button {
            border-radius: 0.5rem;
            cursor: pointer;
        }

        .spkmesin-wrapper {
            flex: 1;
            padding: 6px 12px;
        }
        .spknota-wrapper {
            flex: 1;
            padding: 6px 12px;
        }

        .radio-button-container {
            gap: 0.4rem;
            margin: 0;
        }

        .button {
            height: 2rem;
            position: relative;
        }

        .button label,
        .button input {
            display: block;
            position: absolute;
            font-size: 0.8rem;
            text-wrap: nowrap;
            width: 100%;
            border: var(--foreground-text-placeholder) solid 0.05rem;
        }
        /* Radio */
        .button input[type="radio"] {
            z-index: 100;
            opacity: 0;
            /* border-radius: 0.4rem;
            width: 100%; */
        }
        .button input[type="radio"]:checked + label {
            background: var(--primary-500);
            color: #fff;
        }
        /* Checkbox */
        .button input[type="checkbox"] {
            z-index: 100;
            opacity: 0;
            /* border-radius: 0.4rem;
            width: 100%; */
        }
        .button input[type="checkbox"]:checked + label {
            background: var(--primary-500);
            color: #fff;
        }

        .button label {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            cursor: pointer;
            z-index: 90;
            text-align: center;
            /* line-height: 1.8em; */
        }
    }

#page-top .card-icon-container {
    .card-count-container {
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 500;
    }
    .card-count-container .card-status {
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
    }
    svg {
        width: 5rem;
    }
    .card-icon-Todo {
        svg {
            fill: var(--warning-500);
    }}
    .card-count-container .card-count-Todo {
        color: var(--warning-500);
    }
    .card-icon-Running {
        svg {
            fill: var(--success-500);
    }}
    .card-count-container .card-count-Running {
        color: var(--success-500);
    }
    .card-icon-Done {   
        svg {
            fill: var(--info-500);
    }}
    .card-count-container .card-count-Done {
        color: var(--info-500);
    }
}

#bootstrap-override .login-text-1 {
    color: var(--foreground-Text);
    font-weight: 600;
}

#bootstrap-override .login-text-2 {
    font-weight: 500;
}

#bootstrap-override .btn {
    width: 100%;
}

#bootstrap-override .btn-primary {
    background-color: var(--primary-500);
    color: var(--background-pure);
}

#bootstrap-override .login-hero-image {
    background-color: var(--foreground-text-light);
}

#bootstrap-override .greeting-text-2 {
    color: var(--primary-500);
    font-weight: 600;
}

#page-top .dropdown-menu {
    svg{
        width: 1rem;
        margin-right: 0.3rem;
        fill: var(--foreground-text-soft);
    }
}

#page-top .nav-item {
    .nav-link {
        color: var(--foreground-text-soft);
        font-weight: 500;
        svg {
            width: 1rem;
            margin-right: 0.3rem;
            fill: var(--foreground-text-soft)
        };
    };
}

#page-top .nav-item.active {
    background-color: var(--background-soft);
    .nav-link {        
        color: var(--foreground-text);
        font-weight: 700;
        svg{ /*target the image with css*/
            fill: var(--primary-500);
        }
    }
}


#page-top .sticky-footer {
    bottom: 0;
}

@media screen and (max-width: 414px) {
    * {
        overflow-y: hidden;
        
    }

    #page-top {
        height: 100%;
        margin-top: -10%
    }

    #page-top .main-container {
        overflow-y: hidden;
        height: 100%;
    }

    #page-top .main-container .row {
        overflow-y: hidden;
        height: 100%;
    }

    #page-top .image img {
        width: 120px;
    }
    
    #page-top .login-text-1 {
        font-size: 1.2rem;
    }

    #page-top .login-text-2 {
        font-size: 1rem;
    }

    #page-top .login-hero-image {
        display: none;
    }
}